@import "nib"
@import "normalize.styl"
@import "fonts.styl"
vendor-prefixes= webkit o ms mz official papitas
//mixin
/*
animacion(parametro)
	-webkit-animation parametro
	-moz-animation parametro
	-o-animation parametro
	-ms-animation parametro
	animation parametro
	*/
gris_oscuro = #333333
gris_claro = #818181
gris_masclaro = #f0f0f0
rojo = #BD255B
rosa = #CC2F6F
blanco = #ffffff
negro = #000000
a
	text-decoration none
body
	font-size 16px
	font-family 'Varela Round', sans serif
figure
	margin 0
ul
	margin 0
	padding 0
img
	vertical-align top
hr
	width 80%
	border 1px solid gris_masclaro
//buttons
.button-menu
	position absolute
	top 50%
	margin-top -10px solid gris_claro
	left 0.5em
//oocss classes
.container
	padding 1.4rem
	font-size 0
	text-align center
.contenedor
	magin 0 auto 0 auto
.action
	color white
	margin-right .5em
	font-size 1.2em
	&:last-child
		margin-right 0
	&.gray
		color gris_oscuro
.actions
	background rgba(black, .3)
	left 0
	right 0
	//width 100%
	//box-sizing border-box
	position absolute
	bottom 0
.border-bottom
	border-bottom 1px solid gris_claro
.name 
	color gris_oscuro
.menu
	display none
.relative
	position relative
.padding
	padding 1em
.padding-tb
	padding 1em 0
.left
	float left
.right
	float right
.wrap
	width 1000px 
.round
	border-radius 50%
	overflow hidden	
.progress
	margin 1em 0
	position relative
	.min
	.max
		font-size .8em
		position absolute
		top -5px
	.min
		
		left 0
	.max 
		
		right 0
	.total
		height 5px
		background gris_claro
		width 75%
		border-radius 5px
		margin 0 auto
	.state
		height 5px
		background rojo
		width 30%
		border-radius 5px
		position relative
		animation 1s state infinite
		/*
		-webkit-animation 1s state infinite
		-moz-animation 1s state infinite
		animation 1s state infinite*/
	.circulo
		width 10px
		height 10px
		background gris_oscuro
		border-radius 50%
		position absolute
		right 0
		top -2px
		animation 1s circulo infinite
.link
	text-decoration underline
	font-size 12px
	
@keyframes state 
	/*from
		background red
	to
		backgroun blue
			*/
	0%
		background red
	100%
		background purple
@keyframes circulo
	0%
		//-webkit-transform scale(1)
		transform scale(1)
	100%
		//-webkit-transform scale(2)
		transform scale(2)

.author
	color gris_claro
.center-block
	margin 0 auto
.center-text
	text-align center
	
.right-text
	text-align right
.relative
	position relative
.header
	height 3.5em
	//a
	//	display none
	.title
		font-size 1.1em
		line-height 3.5em
		margin 0
		text-align center
.song
	width 8rem
	display inline-block
	font-size 1rem
	margin-right 1em
	margin-button 1em
	width 8rem
	text-align left
	&:nth-child(even)
		//margin-right 0
	&:nth-child(odd)
		//margin-right 0
	p
		margin .5em 0
		
.playing
	//display auto //temporal
	&.small
		width 20em
		margin 0  auto
.input
	border 1px solid gris_claro
	height 2.5em
	border-radius 5px
	padding 0 1em 0 2em
.search-icon
	position absolute
	left .5em
	top .8em
	color gris_claro
.close-icon
	position absolute
	top .5em
	color gris_claro
	right .5em
	font-size 1.2em

.playlist
	width 22em
	padding 0 2em
	border-left 1px solid gris_claro
	display block
	.list
		list-style none	
	.item
		padding 1em 0
	.action
		font-size .8em	
.isotipo
	width 76px
	/*img
		width auto*/
.logo
	padding 1.3em 0
	overflow hidden	
	background white
	display none
.avatar
	//width 38px
	//height 38px
.username
	color gris_claro
	position relative
	top 9px
	margin-left .5em
	&:after
		content ""
		border-left 10px solid transparent
		border-top 10px solid gris_claro
		border-right 10px solid transparent
		//border-bottom 10px solid black
		content ""
		display inline-block
		margin-left .4em

@media screen and (max-width: 399px)
	.center
		.over
			img
			&.sfotipy-logo
				margin 81px 61px 0px 61px
						
@media screen and (min-width:400px)
	.center
		.over
			img
			&.sfotipy-logo
				margin 90px 101px 0px 101px
				
@media screen and (max-width:480px)
	body
		background blanco
		color blanco
	.center
		height 400px
		position relative
		background url('../img/background.jpg') no-repeat
		background-size auto
		background-position 100% 0%
		.over
			top 0
			position absolute
			z-index 1000
			/*.sfotipy-logo
				margin 80px 61px 0px 61px */
			.social-media
				width 218px
				height 46px
				border-radius 0.3em
				font-size 0.8em
				&:nth-child(odd)
					margin 52px auto 0 auto
				&:nth-child(even)
					margin 8px auto 0 auto
			.facebook
			.twitter
				margin-left 50px
				background-size cover
				.texto-social
					text-decoration none
					color blanco
					font-size 12px
					margin-left 56px
					margin-top 18px
			.facebook
				background url('../img/mobile/facebook.png') 					
			.twitter
				background url('../img/mobile/twitter.png')
			.legend
				width 80%
				margin 20px auto 0px auto
				text-align center
				span
					text-align center
					font-size 23px			
	.background
		width 100%
		height 400px
		position absolute
		z-index 0
		img
			width 100%
			height 100%
	
	.options
		//position relative
		background blanco
		height 80px
		.left
		.right
			padding-top 17px
			.link
				color gris_claro
				font-size 12px
		.left
			padding-left 60px
		.right
			padding-right 60px
	
	.modulos
		width 100%
		&:nth-child(odd)
			
				img
				.legend
					float none
		&:nth-child(even)
				img
				.legend
					float none
		.modulo
			padding 
			.legend
				padding 1em
			figure
				img
					width 100%
					float none
					border-radius 0px
		.tit
		.desc
			margin 0px auto 0px auto
			text-align center	
		.tit
			color gris_oscuro
		.desc
			color gris_claro
			&.grande
				font-size 19px	
	.footer
		background gris_oscuro
		height 40px
		bottom 0
		padding 10px 20px 10px 20px
		.link
			color blanco
			margin-right 10px
		
@media screen and (min-width:480px) 
	body
		background gris_masclaro
	.song
		&:nth-child(even)
			margin-right 1em
	.image
		img 
			width 100%	
			height auto//100%	
	.playing
		&.medium
			width auto
//#######----------login----------------#####
	/*.center
		.over
			img
			&.sfotipy-logo
				margin 81px 101px 0px 101px*/
				
@media screen and (min-width:1000px)
/*	body 
		background gris_masclaro //#ff9900
	.button-menu
		display none
	.playing
		padding-top 1.3em
		&.large
			margin 0 auto
			width 62.5em
			overflow hidden
	.menu
		display block
		background gris_masclaro
		overflow hidden
		border-top 1px solid gris_claro
		.item
			float left
			list-style none
			//padding 1em
			a
				color gris_oscuro
				cursor pointer
				display block
				padding 1em
				text-transform uppercase
				border-top 5px solid transparent
				&:hover
					border-top 5px solid gris_oscuro
	.music
		width 32.5em
		float left
		overflow hidden
		border-top 1px solid gris_claro
		.description
			display none
	
	.header
		height auto
		border none
		.title
			display none
	.logo
	.playlist
		display block
		*/
//########------ login------------#######
	.center
		height 600px
		position relative
		background url('../img/background.jpg') no-repeat
		background-size auto
		.over
			top 0
			position absolute
			z-index 1000
			.sfotipy-logo
				margin 80px 400px 0px 400px 
			.social-media
				width 218px
				height 46px
				border-radius 0.3em
				font-size 0.8em
				&:nth-child(odd)
					margin 52px auto 0 auto
				&:nth-child(even)
					margin 8px auto 0 auto
			
			.facebook
				background url('../img/mobile/facebook.png') no-repeat	
								
			.twitter
				background url('../img/mobile/twitter.png') no-repeat
				
			.facebook
			.twitter
				width 350px
				height 72px
				margin-left 50px
				background-size cover
				.texto-social
					text-decoration none
					color blanco
					font-size 19px
					margin-left 81px
					margin-top 29px
			.legend
				width 80%
				margin 20px auto 0px auto
				text-align center
				span
					text-align center
					color blanco
					font-size 50px			
	.background
		width 100%
		height 400px
		position absolute
		z-index 0
		img
			width 100%
			height 100%
	
	.options
		//position relative
		background blanco
		height 80px
		.left
		.right
			padding-top 17px
			.link
				color rosa
				font-size 24px
		.left
			padding-left 60px
		.right
			padding-right 60px
	
	.modulos
		//width 100%
		&:nth-child(odd)
			margin-left 90px
			figure
				float left
			.legend
				//margin-left 93px
		&:nth-child(even)
			margin-right 90px
			figure
				float right
			.legend
				//margin-right 93px
		.modulo
			height 350px
			padding-top 35px 
			.legend
				padding 10px 300px
			figure
				width 300px
				height 300px
				img
					width 100%
					height 100%
					border-radius 50%
					overflow hidden
		.tit
		.desc
			margin 0px auto 0px auto
			text-align center	
		.tit
			font-size 33px
			color gris_oscuro
		.desc 
			font-size 30px
			color gris_claro
			&.grande
				font-size 33px	
	
	.footer
		background gris_oscuro
		height 65px
		bottom 0
		padding 10px 20px 10px 20px
		.link
			color blanco
			margin-right 10px
		.left
			margin-left 199px
			margin-top 12px
			img
				width 125px
				height 	39px
		.legend
			margin-top 12px
			font-size 18px
			&.right
				margin-right 55%


	