@import "normalize.styl"
gris_oscuro = #333333
gris_claro = #818181
rojo = #BD255B
@import "fonts.styl"
a
	text-decoration none
body
	font-size 16px
	font-family 'Varela Round', sans serif
figure
	margin 0
image
	vertical-align top
//buttons
.button-menu
	position absolute
	top 50%
	margin-top -10px solid gris_claro
	left 0.5em
//oocss classes
.container
	padding 1.4rem
	font-size 0
	text-align center
.action
	color white
	margin-right .5em
	font-size 1.2em
	&:last-child
		margin-right 0
	&.gray
		color gris_oscuro
.actions
	background rgba(black, .3)
	left 0
	right 0
	//width 100%
	//box-sizing border-box
	position absolute
	bottom 0
.border-bottom
	border-bottom 1px solid gris_claro
.name 
	color gris_oscuro
.menu
	display none
.relative
	position relative
.padding
	padding 1em
.padding-tb
	padding 1em 0
.left
	float left
.right
	float right
.wrap
	width 1000px 
.round
	border-radius 50%
	overflow hidden	
.progress
	margin 1em 0
	position relative
	.min
	.max
		font-size .8em
		position absolute
		top -5px
	.min
		
		left 0
	.max 
		
		right 0
	.total
		height 5px
		background gris_claro
		width 75%
		border-radius 5px
		margin 0 auto
	.state
		height 5px
		background rojo
		width 30%
		border-radius 5px
		position relative
	.circulo
		width 10px
		height 10px
		background gris_oscuro
		border-radius 50%
		position absolute
		right 0
		top -2px
.author
	color gris_claro
.center-block
	margin 0 auto
.center-text
	text-align center
	
.right-text
	text-align right
.relative
	position relative
.header
	height 3.5em
	//a
	//	display none
	.title
		font-size 1.1em
		line-height 3.5em
		margin 0
		text-align center
.song
	width 8rem
	display inline-block
	font-size 1rem
	margin-right 1em
	margin-button 1em
	width 8rem
	text-align left
	&:nth-child(even)
		//margin-right 0
	&:nth-child(odd)
		//margin-right 0
	p
		margin .5em 0
		
.playing
	//display auto //temporal
	&.small
		width 20em
.input
	border 1px solid gris_claro
	height 2.5em
	border-radius 5px
	padding 0 1em 0 2em
.search-icon
	position absolute
	left .5em
	top .8em
	color gris_claro
.close-icon
	position absolute
	top .5em
	color gris_claro
	right .5em
	font-size 1.2em
		
@media screen and (min-width:480px)
	body
		background rojo
	.song
		&:nth-child(even)
			margin-right 1em
	.image
		img 
			width 100%	
			height 100%	
	.playing
		&.medium
			width auto
			
@media screen and (min-width:1000px)
	body 
		background #fff //#ff9900
	.button-menu
		display none
	.header
		height auto
		.title
			display none
	img
		width auto
	.logo
		padding 1.3em 0
		overflow hidden	
	.avatar
		width 38px
		height 38px
	.username
		color gris_claro
		position relative
		top 9px
		margin-left .5em
		&:after
			content ""
			border-left 10px solid transparent
			border-top 10px solid gris_claro
			border-right 10px solid transparent
			//border-bottom 10px solid black
			display inline-block
			margin-left .4em



		



	