@font-face {
	font-family: 'sfotipy';
	src:url('../fonts/icomoon.eot?-sj4ayt');
	src:url('../fonts/icomoon.eot?#iefix-sj4ayt') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-sj4ayt') format('woff'),
		url('../fonts/icomoon.ttf?-sj4ayt') format('truetype'),
		url('../fonts/icomoon.svg?-sj4ayt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
//@import "search.css"
[class^="icon-"], [class*=" icon-"] {
	font-family: 'sfotipy';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e902";
}

.icon-music:before {
	content: "\e911";
}

.icon-mic:before {
	content: "\e91e";
}

.icon-user:before {
	content: "\e971";
}

.icon-menu:before {
	content: "\e9bd";
}

.icon-star-empty:before {
	content: "\e9d7";
}

.icon-star-full:before {
	content: "\e9d9";
}

.icon-heart:before {
	content: "\e9da";
}

.icon-add:before {
	content: "\ea0a";
}

.icon-play:before {
	content: "\ea1c";
}

.icon-pause:before {
	content: "\ea1d";
}

.icon-stop:before {
	content: "\ea1e";
}

.icon-backward:before {
	content: "\ea1f";
}

.icon-forward:before {
	content: "\ea20";
}

.icon-first:before {
	content: "\ea21";
}

.icon-last:before {
	content: "\ea22";
}

.icon-previous:before {
	content: "\ea23";
}

.icon-next2:before {
	content: "\ea24";
}

.icon-volume-high:before {
	content: "\ea26";
}

.icon-volume-mute:before {
	content: "\ea29";
}

.icon-loop:before {
	content: "\ea2e";
}

.icon-shuffle:before {
	content: "\ea30";
}

.icon-share:before {
	content: "\ea7d";
}

.icon-facebook:before {
	content: "\ea8e";
}

.icon-twitter:before {
	content: "\ea93";
}

.icon-youtube:before {
	content: "\ea99";
}
.icon-search:before {
    content: "\e986";
}
